
@model StudentDetailsMangement.Models.StaffLoginDetail
@{
    ViewBag.Title = "StaffLogin";
}
<link rel="stylesheet" href="~/styles/StaffLogin.css" />
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="contain">
    <div class="main">
        <p class="sign" align="center">Log in</p>
        @using (Html.BeginForm("StaffLogin", "Student", FormMethod.Post, new { @id = "formDetails", @autocomplete = "off" }))
        {
            <div class="form1">
                <div class="form-group">
                    @Html.EditorFor(Modal => Modal.UserName, new
                    {
                        HtmlAttributes = new
                        {
                            @name = "UserName",
                            @id = "user",
                            @type = "text",
                            @class = "un",
                            @placeholder = "Username",
                            @maxlength = "50",
                            @align = "center",
                            @*required = "true"*@

}
})
                    @*@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })*@
                </div>

                @*<input class="un " type="text" align="center" placeholder="Username">*@
                <div class="form-group">
                    @Html.EditorFor(Modal => Modal.Password, new
                    {
                        HtmlAttributes = new
                        {
                            @name = "Password",
                            @type = "password",
                            @class = "pass",
                            @placeholder = "Password",
                            @maxlength = "50",
                            @align = "center",
                            @*@required = "true"*@
}
})
                    @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger " })*@
                </div>

                @*<input class="pass" type="password" align="center" placeholder="Password">*@
                <button class="submit" type="submit" align="center" onclick="SubmitDetails">Log in</button>
                @*<p class="forgot" align="center"><a href="#">Forgot Password?></a></p>*@
            </div>
        }
    </div>
</div>



<script>
    $(function () {
        debugger;
        $("#formDetails").validate({
            rules:
            {
                UserName: {
                    required: true,
                  
                },

                Password: {
                    required: true,
                    minlength: 4,
                    maxlength: 8
                }


            },
            messages:
            {
                UserName: {
                    required: "Name is required",
                    
                },
                Password:
                {
                    required: "Password is required",
                    minlength: "Password should have miminum of 4 characters",
                    maxlength: "Password should have maximum of 8 charaacters"
                }
            }
        });
    });

    function SubmitDetails() {
        if ($("#formDetails").valid()) {
            $("#formDetails").submit();
        }
    }


</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/custom-validator")
    }*@

@*<script>
        $(function () {
            $(function () {
                debugger

                //$(#user).validate(
                //    {
                //        ignore: ":not(:visible)",
                //        rules:
                //        {
                //            UserName:
                //            {
                //                required: true,
                //            },
                //        },
                //        messages:
                //        {
                //            UserName:
                //            {
                //                required: "UserName required",
                //            },
                //        }
                //    });
            /*var validatorname =*/ $("#formName").validate(
                        {
                            ignore: ":not(:visible)",
                            rules:
                            {
                                UserName:
                                {
                                    required: true,
                                },
                                Password:
                                {
                                    required: true
                                },
                            },
                            messages:
                            {
                                UserName:
                                {
                                    required: "UserName required",
                                },
                                Password:
                                {
                                    required: "Password is required"

                                }
                            }

                        });
            });
        });
    </script>*@


@*<style>
        .contain {
            background-color: #F3EBF6;
            font-family: 'Ubuntu', sans-serif;
        }

        .main {
            background-color: #FFFFFF;
            width: 400px;
            height: 400px;
            margin: 7em auto;
            border-radius: 1.5em;
            box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        }

        .sign {
            padding-top: 40px;
            color: #8C55AA;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 23px;
        }

        .un {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }

        div.form1 {
            padding-top: 40px;
        }

        .pass {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }


            .un:focus, .pass:focus {
                border: 2px solid rgba(0, 0, 0, 0.18) !important;
            }

        .submit {
            cursor: pointer;
            border-radius: 5em;
            color: #fff;
            background: linear-gradient(to right, #9C27B0, #E040FB);
            border: 0;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
            font-family: 'Ubuntu', sans-serif;
            margin-left: 35%;
            font-size: 13px;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        }

        .forgot {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: #E1BEE7;
            padding-top: 15px;
        }

        button {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: #E1BEE7;
            text-decoration: none
        }
    </style>*@